.mainheader {
  margin-bottom: 60px;
}

.login {
  p {
    float: right;
    margin-top: -51px;
    margin-right: 130px;
  }
  div {
    float: right;
    margin-top: -73px;
    margin-right: 10px;
  }
}

#shoutr-logo {
color: rgb(228, 77, 54);
}

.social {
  font-size: 2em;
  float: left;
  margin-top: -52px;
  margin-left: 290px;
}
.social-home {
  margin-top: 100px;
  position: fixed;
  margin-left: 0px;
  z-index: -1;
  font-size: 2em;
}
