.mainheader {
  margin-bottom: 60px;
}

.login {
  p {
    float: right;
    margin-top: -51px;
    margin-right: 130px;
  }
  div {
    float: right;
    margin-top: -73px;
    margin-right: 10px;
  }
}

