@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

h1, h2, h3, h4 {
  font-family: 'Alfa Slab One', cursive;
}

h1 {
  color: rgb(228, 77, 54);
  font-size: 4.5em;
}

h2 {
  color: rgb(29, 58, 56);
}

h3 {
  color: rgb(228, 77, 54);
  font-size: 1.4em;
}

p {
  font-family: 'Montserrat', sans-serif;
}

