h1, h2, h3 {
  font-family: 'Alfa Slab One', cursive;
  color: rgb(29, 58, 56);
}

p {
  font-family: 'Alfa Slab One', cursive;
  color: dark-blue;
}

h1 {
  color: rgb(228, 77, 54);
  font-size: 4.5em;
}
